Node-Red Flow.json
[{"id":"82120b21.5a49b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b3cb98c9.382178","type":"ui_form","z":"82120b21.5a49b8","name":"","label":"","group":"20e2507.f2cd9b","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"cou","type":"text","required":true,"rows":null},{"label":"Year","value":"yea","type":"number","required":true,"rows":null},{"label":"Status","value":"sta","type":"text","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Adult_Mortality","value":"adu","type":"number","required":true,"rows":null},{"label":"Infant_Deaths","value":"inf","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"Percentage_Expenditure","value":"per","type":"number","required":true,"rows":null},{"label":"Hepatitis_B","value":"hep","type":"number","required":true,"rows":null},{"label":"Under_Five_Deaths","value":"und","type":"number","required":true,"rows":null},{"label":"Polio","value":"pol","type":"number","required":true,"rows":null},{"label":"Total_Expenditure","value":"tot","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"Thinness_10_19_years","value":"thi1","type":"number","required":true,"rows":null},{"label":"Thinness_5_9_years","value":"thi2","type":"number","required":true,"rows":null},{"label":"Income_Composition_of_Resources","value":"inc","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sch","type":"number","required":true,"rows":null},{"label":"Measles","value":"mea","type":"number","required":true,"rows":null}],"formValue":{"cou":"","yea":"","sta":"","bmi":"","adu":"","inf":"","alc":"","per":"","hep":"","und":"","pol":"","tot":"","dip":"","hiv":"","gdp":"","pop":"","thi1":"","thi2":"","inc":"","sch":"","mea":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["55edcc7.4550834"]]},{"id":"55edcc7.4550834","type":"function","z":"82120b21.5a49b8","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.cou);\nglobal.set(\"b\",msg.payload.yea);\nglobal.set(\"c\",msg.payload.sta);\nglobal.set(\"d\",msg.payload.bmi);\nglobal.set(\"e\",msg.payload.adu);\nglobal.set(\"f\",msg.payload.inf);\nglobal.set(\"g\",msg.payload.alc);\nglobal.set(\"h\",msg.payload.per);\nglobal.set(\"i\",msg.payload.hep);\nglobal.set(\"j\",msg.payload.und);\nglobal.set(\"k\",msg.payload.pol);\nglobal.set(\"l\",msg.payload.tot);\nglobal.set(\"m\",msg.payload.dip);\nglobal.set(\"n\",msg.payload.hiv);\nglobal.set(\"o\",msg.payload.gdp);\nglobal.set(\"p\",msg.payload.pop);\nglobal.set(\"q\",msg.payload.thi1);\nglobal.set(\"r\",msg.payload.thi2);\nglobal.set(\"s\",msg.payload.inc);\nglobal.set(\"t\",msg.payload.sch);\nglobal.set(\"u\",msg.payload.mea);\n\n//following are required to receive a token\nvar apikey=\"ekHqWX2NWyCjdZ0M8DY_ZW-IY2O1yyBeCmR4ZECUcnbO\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":100,"y":220,"wires":[["25108f57.2f463"]]},{"id":"ea8ef4b8.4d48f8","type":"http request","z":"82120b21.5a49b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/7e612d77-78a7-4d33-a55d-a3dbb7d0d649/deployments/e5542941-04e8-4d00-ab66-c9f0e12a0283/online","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":520,"wires":[["d9204ebd.8f739","4f5d92da.e5e4dc"]]},{"id":"c8c9d64e.6a49e8","type":"debug","z":"82120b21.5a49b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":460,"wires":[]},{"id":"4f5d92da.e5e4dc","type":"function","z":"82120b21.5a49b8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["c8c9d64e.6a49e8","b7402d8a.dd2c7"]]},{"id":"d9204ebd.8f739","type":"debug","z":"82120b21.5a49b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":340,"wires":[]},{"id":"571aad83.775b24","type":"function","z":"82120b21.5a49b8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"7e612d77-78a7-4d33-a55d-a3dbb7d0d649\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Country\", \"Year\", \"Status\", \n\"BMI\", \"Adult_Mortality\", \"Infant_Deaths\", \"Alcohol\", \"Percentage_Expenditure\", \"Hepatitis_B\", \"Under_Five_Deaths\", \"Polio\", \"Total_Expenditure\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\",\"Population\", \"Thinness_10_19_years\", \"Thinness_5_9_years\",\n \"Income_Composition_of_Resources\", \"Schooling\", \"Measles\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["ea8ef4b8.4d48f8"]]},{"id":"25108f57.2f463","type":"http request","z":"82120b21.5a49b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":330,"y":100,"wires":[["571aad83.775b24"]]},{"id":"b7402d8a.dd2c7","type":"ui_text","z":"82120b21.5a49b8","group":"20e2507.f2cd9b","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":560,"wires":[]},{"id":"20e2507.f2cd9b","type":"ui_group","z":"","name":"Life Expectancy Prediction","tab":"d5b020ab.82ece","order":1,"disp":true,"width":"6","collapse":false},{"id":"d5b020ab.82ece","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]